- extends "examples/base.html"

- block(:title, "Example With Arguments")
- block(:pupu) do
  = pupu :mootools, more: true
  = pupu :blueprint, plugins: ["fancy-type"]
  = pupu :autocompleter, type: "request"
