<% content_for :title, "Pupu Examples" %>

<ul>
  <li><a href="/examples/simple">Simple Example</a></li>
  <li><a href="/examples/dependencies">Example With Dependencies</a></li>
  <li><a href="/examples/arguments">Example With Arguments</a></li>
</ul>
