- extends "base.html"

- block(:title, "Pupu Examples")
- block(:content) do
  %ul
    %li
      %a{href:"/examples/simple"} Simple Example
    %li
      %a{href:"/examples/dependencies"} Example With Dependencies
    %li
      %a{href:"/examples/arguments"} Example With Arguments
